 {% extends 'rdv/base.html' %}

{%block title%}Accueil{%endblock%}

{%block content%}

<h1>Bienvenue sur mon site</h1>

<h2>Mon travail</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore quas accusamus cum quia corrupti deleniti voluptates molestias nulla, est debitis magni harum. Molestiae officiis sed optio, error expedita iusto fugiat. Voluptas sunt commodi quia omnis tempora maiores repudiandae laboriosam aliquam necessitatibus enim assumenda nisi nobis sint, dolorem temporibus cum amet quo debitis iure sequi. Soluta nihil aliquam animi doloribus voluptate! Quae facere dignissimos, ducimus natus mollitia unde beatae consectetur accusantium quaerat sint quisquam aut placeat rerum tempora quos incidunt minus?</p>

{%endblock%}