{% load static %}

<html>
    <head>
        <title>{% block title%}{% endblock %} </title>
        <link rel="stylesheet" href="{% static 'styles.css' %}" />
    </head>
    <body>
    <nav>
        {% if user.is_authenticated %}
        <p>Vous êtes connecté en tant que {{request.user}}. <a href="{% url 'logout' %}">Se déconnecter</a></p>
        <a href="{% url 'accueil' %}">Accueil</a>
        <a href="{% url 'mon-compte' %}">Mon compte</a>
        {% if user.is_staff %}
        <a href="{% url 'liste-rdv' %}">Liste des rendez-vous</a>
        <a href="{%url 'creneaux' %}">Créneaux ouverts à la réservation</a>
        {% else %}
        <a href="{% url 'mes-rdv' %}">Mes rendez-vous</a>
        <a href="{% url 'creneaux-dispo' %}">Prendre rendez-vous</a>
        {% endif %}
        {% else %}
        <p><a href="{% url 'signup' %}">S'inscrire</a><a href="{% url 'login' %}">Se connecter</a></p>
        {% endif %}
    </nav>
    {% block content%}{% endblock %}
    
   
        
    </body>
</html>