{% extends 'rdv/base.html' %}

{% block content%}

<h1>Mes rendez-vous</h1>

<h2>Rendez-vous passés</h2>

<ul>
    {% for rdv in liste_rdv|dictsort:'date' %}
    {% now "Y-m-d" as todays_date %}
    {% if todays_date > rdv.date|date:"Y-m-d" %}
    {% if rdv.user == request.user %}
    <li>Date : {{rdv.date}} <a href="{% url 'rdv-detail' rdv.id %}">Détails</a>
    {% endif %}
    {% endif %}
    {% endfor %}
</ul>

<h2>Rendez-vous à venir</h2>

<ul>
    {% for rdv in liste_rdv|dictsort:'date' %}
    {% now "Y-m-d" as todays_date %}
    {% if todays_date < rdv.date|date:"Y-m-d" %}
    {% if rdv.user == request.user %}
    <li>Date : {{rdv.date}} <a href="{% url 'rdv-detail' rdv.id %}">Détails</a>
    {% endif %}
    {% endif %}
    {% endfor %}
</ul>

{% endblock %}