{% extends 'rdv/base.html' %}

{%block title%}Mes rendez-vous{%endblock%}

{% block content%}

<h1>Mes rendez-vous</h1>

<section id='planning'>
<article>
<h2>Rendez-vous passés</h2>

{% if user.is_staff %}
{% for rdv in liste_rdv|dictsortreversed:'date'%}
{% now "Y-m-d" as todays_date %}
{% if todays_date > rdv.date|date:"Y-m-d" %}
{% if rdv.user %}
<p> 🗓️ {{rdv.date}} 👤 {{rdv.user.first_name}} {{rdv.user.last_name}} <a href="{% url 'rdv-detail' rdv.id %}">Voir 🔎</a></p>
{% endif %}
{% endif %}
{% endfor%}
{% else %}
    {% for rdv in liste_rdv|dictsortreversed:'date' %}
    {% now "Y-m-d" as todays_date %}
    {% if todays_date > rdv.date|date:"Y-m-d" %}
    {% if rdv.user == request.user %}
    <p>🗓️ {{rdv.date}} <a href="{% url 'rdv-detail' rdv.id %}">Voir 🔎</a></p>
    {% endif %}
    {% endif %}
    {% endfor %}
{% endif %}
</article>

<article>
<h2>Rendez-vous à venir</h2>

{% if user.is_staff %}
{% for rdv in liste_rdv|dictsort:'date'%}
{% now "Y-m-d" as todays_date %}
{% if todays_date < rdv.date|date:"Y-m-d" %}
{% if rdv.user %}
<p> 🗓️ {{rdv.date}} 👤 {{rdv.user.first_name}} {{rdv.user.last_name}} <a href="{% url 'rdv-detail' rdv.id %}">Voir 🔎</a></p>
{% endif %}
{% endif %}
{% endfor%}
{% else %}
    {% for rdv in liste_rdv|dictsort:'date' %}
    {% now "Y-m-d" as todays_date %}
    {% if todays_date < rdv.date|date:"Y-m-d" %}
    {% if rdv.user == request.user %}
    <p>🗓️ {{rdv.date}} <a href="{% url 'rdv-detail' rdv.id %}">Voir 🔎</a></p>
    {% endif %}
    {% endif %}
    {% endfor %}
{% endif %}
</article>
</section>

{% endblock %}